<div class="form-container">
<h1 class="title-add">Add Product</h1>

<form  #f="ngForm" (ngSubmit)="save()" >
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Product Name</mat-label>
    <input matInput type="text" name="name" required [(ngModel)]="product.name" />
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Description</mat-label>
    <textarea matInput name="description" rows="3" [(ngModel)]="product.description"></textarea>
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Price ($)</mat-label>
    <input matInput type="number" name="price" min="0" step="0.01" required [(ngModel)]="product.price" />
  </mat-form-field>

  <div class="form-but">
  <button mat-raised-button color="primary" type="submit" class="btn btn--primary" [disabled]="f.invalid"> Save</button>
  <button mat-raised-button color="primary" type="button" class="btn" routerLink="/"> Cancel</button>
  </div>
</form>

</div>
