<!--
<mat-toolbar color="warn">
  <span class="title">Product Management</span>
  <span class="spacer"></span>
  <button mat-button class="my-button"><a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a></button>
  <button mat-button class="my-button"><a routerLink="products" routerLinkActive="active">Products</a></button>
  <button mat-button class="my-button"><a routerLink="add" routerLinkActive="active">Add Product</a></button>
</mat-toolbar>
-->

<mat-toolbar color="primary">
  <span class="logo">Product Management</span>
  <span class="spacer"></span>


  <div class="nav-links">
  <!-- Desktop navigation buttons (optional) -->
  <a class="but-men" mat-button routerLink="/" routerLinkActive="active"  [routerLinkActiveOptions]="{ exact: true }" >Home</a>
  <a class="but-men" mat-button routerLink="products" routerLinkActive="active-link">Products</a>
  <a class="but-men" mat-button routerLink="add" routerLinkActive="active-link">Add Product</a>
</div>
  <!-- Menu button (visible on mobile, optional) -->
  <button mat-icon-button [matMenuTriggerFor]="menu" class="menu-icon">
    <mat-icon>menu</mat-icon>
  </button>

</mat-toolbar>

<!-- Mat Menu -->
<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="/">Home</button>
  <button mat-menu-item routerLink="products">Products</button>
  <button mat-menu-item routerLink="add">Add Product</button>
</mat-menu>
